<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<remove name="LocalSqlServer"/>-->
    
    <add name="cn" connectionString="Server=localhost;User ID=fgfgf;Password=fggf;Database=FilterData;Pooling=true" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySql.Data.MySqlClient" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,Version=6.8.3.0, Culture=neutral,PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
    <system.web>
     <!-- <authentication mode="Forms">
        <forms name=".ASPXAUTH" loginUrl="login.aspx" timeout="2880" path="/" protection="All"/>
      </authentication>-->
     
      <authentication mode="Forms">
      <forms defaultUrl="login.aspx" loginUrl="login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2"  maxRequestLength="1048576" executionTimeout="3600" />
      <machineKey validationKey="4E19A23AC3ACDE43020752E97CC4D1DC85BEE285180443B4ECF710145E94DDD3F511976399A8B43EB64B96CB1A04043DFA6CB56CEDBC72931F76C32E12EBBD44" decryptionKey="253FBA9EC2E8FB7BC5C6E7BA144431866CBAAAE696556FEC" validation="SHA1"/>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ConfirmationFilePath" value="signatureTmp"/>
    <add key="UploadFilePath" value="uploadTmp"/>
    <add key="MergedFilePath" value="mergeTmp"/>
  </appSettings>
</configuration>
